@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    overflow: hidden;
    background:#1abc9c ;
}
.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
 
}
.wrapper{
    width:500px;
    height: 600px;
    background: #ecf0f1 ;
    border-radius: 5px;
}
.wrapper .title{
    line-height: 90px;
    text-align: center;
    background: #16a085;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 32px;
    font-weight: 600;
    color:#ecf0f1;
}
.wrapper form{
    padding: 30px 30px 30px 30px;
}
.wrapper form .row{
    position: relative;
    height: 45px;
    margin-bottom: 15px;
}
.wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
   font-size: 16px;
}
form .row input:focus{
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px #16a085;
    transition: all 0.3s ease;
}
.wrapper form .pass{
    margin: -8px 0 20px 0;
}
.wrapper form .pass a{
    text-decoration: none;
    color: #16a085;
    font-size: 18px;
}
.wrapper form .pass a:hover{
    text-decoration: underline;
}
.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #ecf0f1;
    font-size: 18px;
    background: #1abc9c;
    border: 1px solid #1abc9c;
    border-radius: 5px 0 0 5px;
    align-items: center;
    display: flex;
}
.wrapper form .button {
    margin-top: 300px;
}
.wrapper form .button input{
    padding-left: 0px;
    background: #1abc9c;
    border: 1px solid #1abc9c;
    cursor: pointer;
    color: #ecf0f1;
    font-weight: 500;
    font-size: 18px;
}
form .button input:hover{
    background: #16a085;
}
.wrapper form .signup-link{
    margin-top: 20px;
    text-align: center;
}
.wrapper form .signup-link a{
    text-decoration: none;
    color: #16a085;
    font-size: 18px;
}
.wrapper form .signup-link a:hover{
    text-decoration: underline;
}